#root {
  max-width: fit-content;
  padding: 2rem;
  margin-top: -200px;
}

.App {
  text-align: center;
  max-height: max-content;
  color: white;
  scale: 77%;
}

.grid {
  max-width: fit-content;
  scale: 80%;
  border: 2px solid white;
  padding: 1rem;
  margin-bottom: -3rem;
  background: black;
}

.cell {
  cursor: pointer;
  scale: 120%;
}

button {
  margin-right: 10px;
}
